
body {
  background-color: #a3ccff;
}

#events_map {
  position: absolute !important;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
}

img {
  max-width: 100%;
}

.gm-style-mtc, .gm-svpc {
  display: none;
}

h1, h2, h3, h4, h5, a {
  font-family: Viga, sans-serif;
}

#add-form .form-control {
  margin-top: 0.5em;
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
  padding: 0em 2em 1em 2em;
}


@media (max-width: 992px) {

  .info-panel {
    display: none;
  }

  #events_map {
    height: 90%;
  }

  .mobile-panel {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
    background-color: white;
  }

}

@media (min-width: 993px) {

  .mobile-panel {
    display: none;
  }

}
